import(stringr)
importFrom("utils", "read.csv")
importFrom("methods", "new")
export(generate_snp_data)
export(getAllPaths)
export(getClassifications)
export(getFinalPathList)
export(getGroupFromPath)
export(getPathList)
export(missingSnps)
export(node_a)
export(node_a2)
export(node_b2)
export(node_b4bde)
export(node_b5)
export(node_c)
export(node_d)
export(node_d1)
export(node_d2)
export(node_d4)
export(node_h)
export(node_h2)
export(node_h2a)
export(node_h2a2a)
export(node_hv)
export(node_i)
export(node_j)
export(node_jt)
export(node_jt_alt)
export(node_k)
export(node_k1)
export(node_k_alt)
export(node_l0)
export(node_l1)
export(node_l1b)
export(node_l2)
export(node_l23456)
export(node_l2346)
export(node_l3)
export(node_l34)
export(node_m)
export(node_n)
export(node_n1a1)
export(node_n1a1b)
export(node_n_alt)
export(node_r)
export(node_r_alt)
export(node_t)
export(node_t1)
export(node_u)
export(node_u8b)
export(node_u8b_alt)
export(node_u_alt)
export(node_v)
export(node_w)
export(node_x)
export(node_x2)
export(numChildren)
export(numReqs)
export(numSnps)
export(root)
export(validData)
export(validPath)
exportClasses(maybeNode)
exportClasses(node)
